<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css"
    integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/grids-responsive-min.css">
  <link rel="stylesheet" href="style.css">
  <title>共享账号</title>
</head>

<script type="text/javascript">
  const clear_all = async () => {
    const res = await fetch('api/', { method: 'DELETE' });
    if (res.status == 200) {
      var s = document.getElementById("clear_all_code");
      s.innerHTML = "成功！即将刷新页面…";
      setTimeout(function (){
        window.location.reload();
      }, 2000);
      
    } else {
      var s = document.getElementById("clear_all_code");
      s.innerHTML = "失败！代码 " + res.status;
    }
  }
</script>

<body>
  <div class="control-menu">
    <button class="pure-button" onclick="clear_all()">清空</button>
    <span id="clear_all_code"></span>
  </div>
  <div>
  <div id="sms-list" class="list-wrap">
    {% if msgs %}
      {% for msg in msgs %}
        <div class="item-wrap">
          <div class="card pure-g">
            <div class="pure-u-1-2 from">{{ msg.from }}</div>
            <div class="pure-u-1-2 date">{{ msg.date }}</div>
            <div class="pure-u-1 text">{{ msg.text }}</div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>没有信息</p>
    {% endif %}
  </div>
</body>

<script type="text/javascript">
  const evtSource = new EventSource("/watch");
  evtSource.onmessage = (event) => {
    const list = document.getElementById("sms-list");
    const item = document.createElement("div");
    const card = document.createElement("div");
    const from = document.createElement("div");
    const date = document.createElement("div");
    const text = document.createElement("div");

    item.setAttribute("class", "item-wrap");
    card.setAttribute("class", "card card-new pure-g");
    from.setAttribute("class", "pure-u-1-2 from");
    date.setAttribute("class", "pure-u-1-2 date");
    text.setAttribute("class", "pure-u-1 text");

    item.appendChild(card);
    card.appendChild(from);
    card.appendChild(date);
    card.appendChild(text);
    list.insertBefore(item, list.firstChild);

    console.log(event.data);

    from.textContent = `${JSON.parse(event.data).from}`;
    date.textContent = `${JSON.parse(event.data).date}`;
    text.textContent = `${JSON.parse(event.data).text}`;
  };

  evtSource.onerror = (err) => {
    console.error("EventSource failed:", err);
  };
</script>

</html>
