<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css"
    integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/grids-responsive-min.css">
  <link rel="stylesheet" href="style.css">
  <title>共享账号 短信验证码</title>
</head>

<script type="text/javascript">
  const clear_all = async () => {
    const res = await fetch('db/', { method: 'DELETE' });
    if (res.status == 200) {
      var s = document.getElementById("clear_all_code");
      s.innerHTML = "Success! Please refresh the page.";
    } else {
      var s = document.getElementById("clear_all_code");
      s.innerHTML = "Failure! Error code " + res.status + ".";
    }
  }
</script>

<body>
  <div class="control-menu">
    <button class="pure-button" onclick="clear_all()">Clear All</button>
    <span id="clear_all_code"></span>
  </div>
  {% if msgs %}
  <div>
    {% for msg in msgs %}
    <div class="item-wrap">
      <div class="card pure-g">
        <div class="pure-u-1-4 msg_type">{{ msg.msg_type }}</div>
        <div class="pure-u-3-4 date">{{ msg.date }}</div>
        <div class="pure-u-1 text">{{ msg.text }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>No message.</p>
  {% endif %}
</body>

</html>
